<div class="sound-display-top-bar">
  <div class="sound-display-top-bar-actions">
    <button type="button" class="sound-display-top-bar-show-debug is-small" {{action (toggle "showDebugInfo" this)}}>
      {{fa-icon "info-circle"}}
    </button>

    <button type="button" class="sound-display-top-bar-remove-sound is-small" {{action "removeSound" this}}>
      {{fa-icon "times-circle"}}
    </button>
  </div>

  <span class="sound-display-top-bar-connection-name">
    {{connectionName}} Sound
  </span>

  {{#if isCurrentSound}}
    <span class="sound-display-top-bar-current">Current Sound</span>
  {{/if}}
</div>

<div class="sound-display-title">
  <div class="sound-display-title-given">
    {{title}}
  </div>
  <div class="sound-display-title-url">
    {{url}}
  </div>
</div>

<div class="sound-display-controls">
  {{sound-display/position sound=sound}}
  <div class="sound-control-buttons">
    <a class="sound-control-button-item">

    </a>

    {{#if isRewindable}}
      <button type="button" class="sound-control-button-item" {{action "rewind" 5000}}>
        {{fa-icon "backward"}}
      </button>
    {{/if}}

    <button type="button" class="sound-control-button-item" {{action "togglePause"}}>
      {{#if sound.isPlaying}}
        {{fa-icon "pause" size="2x"}}
      {{else}}
        {{fa-icon "play" size="2x"}}
      {{/if}}
    </button>

    {{#if isFastForwardable}}
      <button type="button" class="sound-control-button-item" {{action "fastForward" 5000}}>
        {{fa-icon "forward"}}
      </button>
    {{/if}}

    <button type="button" class="sound-control-button-item"  {{action "stop"}}>
      {{fa-icon "stop"}}
    </button>
  </div>
</div>

{{#animated-if showDebugInfo}}
  <div class="sound-display-debug">
    <h3>Properties</h3>
    <dl class="sound-display-debug-list">
      <dt>isLoading</dt>
      <dd>{{sound.isLoading}}</dd>

      <dt>isPlaying</dt>
      <dd>{{sound.isPlaying}}</dd>

      <dt>isErrored</dt>
      <dd>{{sound.isErrored}}</dd>

      <dt>hasPlayed</dt>
      <dd>{{sound.hasPlayed}}</dd>

      <dt>duration</dt>
      <dd>{{sound.duration}}</dd>

      <dt>isStream</dt>
      <dd>{{sound.isStream}}</dd>

      <dt>isRewindable</dt>
      <dd>{{sound.isRewindable}}</dd>

      <dt>isFastForwardable</dt>
      <dd>{{sound.isFastForwardable}}</dd>

      <dt>percentLoaded</dt>
      <dd>{{sound.percentLoaded}}</dd>

    </dl>
  </div>
{{/animated-if}}


{{yield}}
