<div class="sound-display-top-bar">
  <div class="sound-display-top-bar-actions">
    <button type="button" class="sound-display-top-bar-remove-sound is-small" {{action "removeSound" this}}>
      {{fa-icon "times-circle"}}
    </button>
  </div>

  <span class="sound-display-top-bar-connection-name">
    {{connectionName}} Sound
  </span>

  {{#if isCurrentSound}}
    <span class="sound-display-top-bar-current">Current Sound</span>
  {{/if}}
</div>

<div class="sound-display-title">
  <div class="sound-display-title-given">
    {{title}}
  </div>
  <div class="sound-display-title-url">
    {{url}}
  </div>
</div>

<div class="sound-display-controls">
  {{sound-display/position sound=sound}}
  <div class="sound-control-buttons">
    <a class="sound-control-button-item">

    </a>

    {{#if isRewindable}}
      <button type="button" class="sound-control-button-item" {{action "rewind" 5000}}>
        {{fa-icon "backward"}}
      </button>
    {{/if}}

    <button type="button" class="sound-control-button-item" {{action "togglePause"}}>
      {{#if sound.isPlaying}}
        {{fa-icon "pause" size="2x"}}
      {{else}}
        {{fa-icon "play" size="2x"}}
      {{/if}}
    </button>

    {{#if isFastForwardable}}
      <button type="button" class="sound-control-button-item" {{action "fastForward" 5000}}>
        {{fa-icon "forward"}}
      </button>
    {{/if}}

    <button type="button" class="sound-control-button-item"  {{action "stop"}}>
      {{fa-icon "stop"}}
    </button>
  </div>
</div>


<div class="sound-display-debug">
  <h3>Events</h3>
  {{event-display class="sound-display-debug-events" object=sound}}

  <h3>Properties</h3>
  <dl class="sound-display-debug-list">
    <dt>isLoading</dt>
    <dd>{{sound.isLoading}}</dd>

    <dt>isPlaying</dt>
    <dd>{{sound.isPlaying}}</dd>

    <dt>isErrored</dt>
    <dd>{{sound.isErrored}}</dd>

    <dt>hasPlayed</dt>
    <dd>{{sound.hasPlayed}}</dd>

    <dt>duration</dt>
    <dd>{{sound.duration}}</dd>

    <dt>isStream</dt>
    <dd>{{sound.isStream}}</dd>

    <dt>isRewindable</dt>
    <dd>{{sound.isRewindable}}</dd>

    <dt>isFastForwardable</dt>
    <dd>{{sound.isFastForwardable}}</dd>

    <dt>percentLoaded</dt>
    <dd>{{sound.percentLoaded}}</dd>
  </dl>

  <h3>Strategy</h3>

  <ul class="sound-display-debug-strategy">
    {{#each sound.metadata.debug.results as |item|}}
        {{#if item.didPlay}}
          <li class="is-success">
            {{fa-icon "check-square"}} {{item.connectionName}} succeeded
          </li>
        {{else if (and item.canPlay (not item.triedToPlay))}}
          <li class="not-attempted">
            {{fa-icon "square"}} {{item.connectionName}} was not attemped
          </li>
        {{else if (and item.canPlay item.triedToPlay)}}
          <li class="is-failure">
            {{fa-icon "skull"}} {{item.connectionName}} attempted and failed
          </li>
        {{else if (not item.canPlay)}}
          <li class="is-ineligible">
            {{fa-icon "times"}} {{item.connectionName}} ineligible, not attempted
          </li>
        {{/if}}
    {{/each}}
  </ul>
</div>


<a href="#" class="sound-control-debug-toggle" {{action (toggle "showDebugInfo" this)}}>
  {{#if showDebugInfo}}
    <span>Hide Debug</span>
    {{fa-icon "angle-up"}}
  {{else}}
    <span>Show Debug</span>
    {{fa-icon "angle-down"}}
  {{/if}}
</a>

{{yield}}
