{{yield}}

<a href="#" class="connection-display-title" {{action (toggle "enabled" this (not enabled))}}>
  <div class="connection-toggle {{if enabled "is-enabled"}}">
    {{#if enabled}}
      <span class="icon">
        {{fa-icon "check-square"}}
      </span>
    {{else}}
      <span class="icon">
        {{fa-icon "square"}}
      </span>
    {{/if}}
  </div>
  {{connection}}
</a>

{{#animated-beacon name=connectionName}}
  <div class="connection-display-info">
    {{#if canUseConnection}}
      {{#if (or connection.acceptMimeTypes connection.rejectMimeTypes)}}
        {{#each connection.acceptMimeTypes as |type|}}
          <span class="has-text-success">Accepts mimes: {{type}}</span>
        {{/each}}

        {{#each connection.rejectMimeTypes as |type|}}
          <span class="has-text-danger">Rejects mimes: {{type}}</span>
        {{/each}}
      {{else}}
        <span class="has-text-success">Accepts mimes: All</span>
      {{/if}}
    {{else}}
      Can Not Use In This Browser
    {{/if}}
  </div>
{{/animated-beacon}}
