<h3>{{stream.title}}</h3>
<ul>
  {{#each stream.mountPoints as |mount|}}
  {{#if mount}}
  <li>
    <button class="{{if (contains stream.badMounts mount) "is-error"}}" {{action "listen" mount}}>
      Listen using {{mount}}
    </button>
  </li>
  {{/if}}
  {{/each}}
  <li>
    <button {{action "tryAll" stream}}>
      Try All
    </button>
  </li>

  <li>
    {{#if error}}
      {{error}}
    {{/if}}
    {{#if sound}}
      good
    {{/if}}
  </li>
</ul>

{{#if error}}
  {{error}}
{{/if}}
{{#if sound}}
  good
{{/if}}
