{{#if useLoading}}
  {{! BEGIN-SNIPPET play2 }}
  <button disabled={{hifi.isLoading}} {{action (if hifi.isPlaying "pause" "play") stream.url}}>
    {{#if hifi.isLoading}}
      Please wait...
    {{else}}
      {{if hifi.isPlaying "Pause" "Play"}} {{stream.name}}
    {{/if}}
  </button>
  {{! END-SNIPPET }}
{{else}}
  {{! BEGIN-SNIPPET play1 }}
  <button {{action (if hifi.isPlaying "pause" "play") stream.url}}>
    {{if hifi.isPlaying "Pause" "Play"}} {{stream.name}}
  </button>
  {{! END-SNIPPET }}
{{/if}}
