{{#unless useLoading}}
  {{! BEGIN-SNIPPET play1 }}
  <button {{action (if hifi.isPlaying 'pause' 'play') stream.url}}>
    {{if hifi.isPlaying 'Pause' 'Play'}} WNYC FM
  </button>
  {{! END-SNIPPET }}
{{else}}
  {{! BEGIN-SNIPPET play2 }}
  <button disabled={{hifi.isLoading}} {{action (if hifi.isPlaying 'pause' 'play') stream.url}}>
    {{#if hifi.isLoading}}
      Please wait...
    {{else}}
      {{if hifi.isPlaying 'Pause' 'Play'}} WNYC FM
    {{/if}}
  </button>
  {{! END-SNIPPET }}
{{/unless}}
