<div class="site-chrome__nav">
  <h1 class="site-chrome__title"><code>ember-hifi</code></h1>
  
  <ul class="site-chrome__links">
    <li>
      {{link-to "Basic Usage" "index"}}
    </li>
    <li>
      {{link-to "Sound Objects" "sound-objects"}}
    </li>
    <li>
      {{link-to "Hifi Service" "hifi-service"}}
    </li>
    <li>
      {{link-to "Audio Connections" "audio-connections"}}
    </li>
    <li>
      {{link-to "Advanced Usage" "advanced-usage"}}
    </li>
  </ul>
</div>

<div class="site-chrome__body">
  {{yield}}
</div>
