<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://github.com/nypublicradio/ember-hifi">
        <strong>Ember Hifi</strong>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        {{link-to "Visual Diagnostic" "diagnostic" class="navbar-item"}}

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Documentation
          </a>

          <div class="navbar-dropdown">
            {{link-to "Basic Usage" "index" class="navbar-item"}}
            {{link-to "Sound Objects" "sound-objects" class="navbar-item"}}
            {{link-to "Hifi Service" "hifi-service" class="navbar-item"}}
            {{link-to "Audio Connections" "audio-connections" class="navbar-item"}}
            {{link-to "Sound Objects" "sound-objects" class="navbar-item"}}
          </div>
        </div>
      </div>
    </div>
    
  </div>
</nav>


{{yield}}
