<div class="progress {{if durationIsInfinity 'is-indeterminate' ''}} {{if sound.isPlaying 'is-playing' ''}}">
  <div class="progress-track js-progress-track">
    <div class="progress-track-downloaded" style={{downloadedPercentage}}></div>
    <div class="progress-track-played" style={{playedPercentageStyle}}></div>
  </div>
  {{component "sound-display/position/play-head" positionStyle=playHeadPositionStyle duration=duration
    onPan=(action 'updatePlayheadPosition')
    onPanEnd=(action 'updatePosition')
}}
</div>
<div class="sound-display-control-position-info">
  <span class="sound-display-control-position-info-positon">{{numeric-duration sound.position}}</span>
  <span class="sound-display-control-position-info-duration">
    {{#if durationIsInfinity}}
      {{fa-icon "infinity"}}
    {{else}}
      {{numeric-duration sound.duration}}
    {{/if}}
  </span>
</div>
