<div class="test-sound">
  <div class="test-sound-title">
    {{title}}
    {{#if isStream}}
      <span class="tag is-info is-small">Stream</span>
    {{else}}
      <span class="tag is-primary is-small">On Demand</span>
    {{/if}}
  </div>
  <div class="test-sound-title-url">
    {{url}}
  </div>

  <div class="test-sound-actions">
    <a href="#" class="button is-small is-outline {{if loadSound.isRunning "is-loading"}}" {{action (perform loadSound url)}}>Load</a>
    <a href="#" class="button is-small is-outline {{if playSound.isRunning "is-loading"}}" {{action (perform playSound url)}}>Play</a>
    <a href="#" class="button is-small is-outline" {{action (action this.autoPlaySound url)}}>Autoplay</a>
  </div>
</div>
{{yield}}
