<div class="service-display-current-sound">

  <p class="service-display-current-sound-title">
    {{currentSound.metadata.title}}
  </p>
  <p class="service-display-current-sound-url">
    {{currentSound.url}}
  </p>
  {{#if currentSound}}
    {{sound-display/position sound=currentSound class="service-display-current-sound-position"}}
  {{/if}}
</div>

<div class="service-display-controls">
  <div class="service-display-buttons">

    <a class="service-display-button-item" {{action "rewind" 5000}}>
      {{fa-icon "backward" size="2x"}}
    </a>

    <a class="service-display-button-item" {{action "togglePause"}}>
      {{#if (and currentSound currentSound.isPlaying)}}
        {{fa-icon "pause" size="2x"}}
      {{else}}
        {{fa-icon "play" size="2x"}}
      {{/if}}
    </a>

    <a class="service-display-button-item" {{action "fastFoward" 5000}}>
      {{fa-icon "forward" size="2x"}}
    </a>

    <a class="service-display-button-item" {{action "stop"}}>
      {{fa-icon "stop" size="2x"}}
    </a>
  </div>
  <div class="service-display-volume">

    {{input type="range" value=hifi.volume min=0 max=100}}

    {{!-- {{sound-display/volume sound=currentSound}} --}}
  </div>

</div>
